{% extends 'base.html' %}
{% block content %}
   
    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    
    <!-- Style CSS -->
    <link rel="stylesheet" href="/static/css/cart_style.css">
	
  
  </head>
  <body>

  
      
 <main>
     <!-- Start DEMO HTML (Use the following code into your project)-->
    <div class="container"> 
        <div class="cart-container">
          <h2>Cart</h2>
          <table>
            <thead>
              <tr>
              <th><strong>Product</strong></th>
              <th><strong>Price</strong></th>
            </tr>
            </thead>
            <tbody id="carttable">
            </tbody>
          </table>
          <hr>
          <table id="carttotals">
            <tr>
              <td><strong>Items</strong></td>
              <td><strong>Total</strong></td>
            </tr>
            <tr>
              <td>x <span id="itemsquantity">0</span></td>
             
              <td>$<span id="total">0</span></td>
            </tr></table>

            
          <div class="cart-buttons">  
            <button id="emptycart">Empty Cart</button>
            <a href="{% url 'checkout-index' %}"><button id="checkout" class="signUpBtn">Greiða pöntun</button></a>
            <!-- <button id="checkout">Checkout</button> -->
          </div>
        </div>
</div>

 </main>
 
      
 <!-- <script  src="/static/js/checkout.js"></script>  -->
 
  </body>
</html>

{% endblock %}