<link rel="stylesheet" href="/static/css/final_page.css">
{% extends 'base.html' %}
{% block content %}
    <div class="orderContainer">
    <h4 class="orderDelivered">Takk fyrir að panta á Eldey!</h4>
    <h4 class="orderDelivered">Pöntunin hefur verið móttekin og sms um afhendingartíma
                                hefur verið sent í síma {{ user.customeraccount.phone_number }} :)</h4>
    </div>
    <div imageContainer>
        <img class="ovenImg" src="/static/images/oven_img.jpg" alt="oven image">
    </div>

{% endblock %}