{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="/static/css/checkout.css">
    <div class="paymentHeading">
        <h3>Greiðsla</h3>
    </div>
    <h5 class="header">Borga við afhendingu:</h5>
    <a href='{% url 'confirmation-index' %}'>
        <button id="continueBtn" class="continueBtn">Klára pöntun</button>
    </a>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <h5 class="header">Borga með korti:</h5>
        <div class="form-group">
            <label class="cardName" for="{{ form.card_holder.id_for_label }}">Nafn korthafa:</label>
            {{ form.card_holder }}
            {{ form.card_holder.errors }}
        </div>

        <div class="form-group">
            <label class="cardNumber" for="{{ form.card_number.id_for_label }}">Kortanúmer:</label>
            {{ form.card_number }}
            {{ form.card_number.errors }}
        </div>

        <div class="form-group">
            <label class="exp-date-p1" for="{{ form.expiry_date.id_for_label }}">Gildistími (mm/áá): </label>
            {{ form.expiry_month }}/{{ form.expiry_year }}
            {{ form.expiry_month.errors }}
        </div>

        <div class="form-group">
            <label class="cvc" for="{{ form.cvc.id_for_label }}">CVC:</label>
            {{ form.cvc }}
            {{ form.cvc.errors }}
        </div>

        <a href='{% url 'confirmation-index' %}'>
            <button id="finalBtn" class="finalBtn" type="submit">Klára pöntun</button>
        </a>
    </form>
    <a href='{% url 'contact_information' %}'>
        <button id="goingBack" class="goingBack">Til baka</button>
    </a>
    </div>
    {% load static %}
    <script src="{% static 'js/payment_method.js' %}"></script>
    <script src="{% static 'js/card_info.js' %}"></script>
{% endblock %}

