{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="/static/css/offers.css">
    <div class="offersOnSite">
        <div class="offers">
            <h2>Tilboð</h2>
        </div>
        <div class="offerdisplay">
            {% for offer in offers %}
                <div class="grid-item">
                    <div class="flex-container">
                        <div class="card-container">
                            <img class='img-container' src='/static/images/Offer_img.png' alt='Offer_image'>
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <h4 class="card-text"><b>{{ offer.name }}</b></h4>
                                    <p class="offerType">{{ offer.description }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href='{% url 'single-index' offer.id %}'>
                                                <button type="button" id="orderBtn"
                                                        class="btn btn-sm btn-outline-secondary">Panta
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}