{% extends 'base.html' %}
{% block content %}


    <!DOCTYPE html>
    <html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/offers.css">
    <body>
    <main>
        <div class="descriptionContainer">
            <div class="offerHeader" id="offer.name" style="font-size: xx-large">{{ offer.name }}</div>
            <div class="offerInfo"><a id="offer.id" class="id_hidden">{{ offer.id }}</a>
                <p class="offerDescription" id="offerDescription">{{ offer.description }}</p>
                <img src="/static/images/Offer_img.png" alt="Offer Image" class="singleOfferImg" id="singleOfferImg">
                <div class="pizzasInOffer">
                    {% for number in offer.range_of_pizzas %}
                        <label for="pizza1" class="form-label" id="drop-">Pizza {{ number }}</label>
                        <select class="form-select" id="select-{{ number }}" required>
                            <!-- <select class="form-select" id="select" required> -->

                            <option></option>
                            {% for pizza in pizzas %}
                                <option id="pizza.name">{{ pizza.name }} <p id="price">{{ pizza.price }}kr</p></option>

                            {% endfor %}
                        </select>
                    {% endfor %}
                    <div class="invalid-feedback">
                        Vinsamlegast veldu pizzur í tilboðið.
                    </div>
                </div>
                <button class="add-cart addToCartBtn" id="{{ offer }} {{ pizza }}" type="submit" value="Submit">Bæta í
                    körfu
                </button>
            </div>
        </div>


    </main>

    <script src="/static/js/offer.js"></script>

    </body>
    </html>




{% endblock %}