main {
    margin-left: 150px;
}

.paymentHeading {
    color: darkred;
    font-size: xx-large;
    margin: 10px;
    text-align: center;
}

.paymentInfo {
    width: 40%;
    margin: 20px;
    justify-content: center;
}

.confirmation-button {
    align-self: center;
    background-color: crimson;
    border-color: crimson;
    text-decoration: none;
    width: 300px;
    height: fit-content;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-size: x-large;
}

.finalBtn {
    width: 200px;
    height: fit-content;
    border-radius: 20px;
    border-color: darkred;
    background: darkred;
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;
}

.goingBack {
    width: 200px;
    height: fit-content;
    border-radius: 20px;
    border-color: darkred;
    background: darkred;
    color: white;
    margin-left: 20px;
}

.form-group {
    margin-left: 20px;
    margin-bottom: 5px;
    width: 40%;
}

.cardName {
    width: 135px;
}

.cvc {
    margin-bottom: 20px;
    margin-right: 20px;
    width: 115px;
}

.cardNumber {
    width: 135px;
}

.header {
    margin-left: 20px;
    margin-top: 20px;
}

.continueBtn {
    margin-bottom: 20px;
    width: 200px;
    height: fit-content;
    border-radius: 20px;
    border-color: darkred;
    background: darkred;
    color: white;
    margin-left: 20px;
}