.homeContainer {
    margin-left: 160px;
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

.container h1 {
  margin-left: 410px;
  font-family: "Book Antiqua";
  color: darkred;
}

.home_container {
    background-image: url("/static/images/PizzaLair_front_page.png");
    background-size: 100%;
    height: 800px;
    width: 100%;
}