
.homeContainer {
    display: flex;
}

.eldeyImg {
    background-image: url("static/images/PizzaLair_front_page.png");
    background-size: 100%;
    width: 60%;
    height: 800px;
}

.homeHeader {
    color: darkred;
    font-size: xx-large;
    margin: 10px;
    text-align: center;
}

.eldeyDescription {
    font-family: var(--primary-font);
    font-size: x-large;
    float: right;
    font-weight: lighter;
    width: 300px;
}