
:root {
    --primary-font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.cart_nav {
    display: flex;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 20px;
    mix-blend-mode: multiply;
}

.profile_nav {
    display: flex;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 50px;
    mix-blend-mode: multiply;
    border-color: black;
}

.navbar-brand:hover {
    border-bottom: 2px grey solid;
}

.nav_link:hover {
    border-bottom: 2px grey solid;
}

.nav_item:hover {
    border-bottom: 2px grey solid;
}

.navbar {
    background: darkred;
}

.navbar-expand-lg {
    background: darkred;
}

.navbar-brand {
    color: white;
}

.profile_nav {
    border-radius: 50%;
    mix-blend-mode: normal;
}

.nav-link {
    font-family: var(--primary-font);
    color: white;
}

.cart_nav {
    mix-blend-mode: normal;
}

.cart {
    font-family: var(--primary-font);
    color: white;
    text-decoration: none;
    position: relative;
}