.menuHeader {
    border-radius: 10px;
    background-color: crimson;
    color: white;
    text-align: center;
    font-family: "Book Antiqua";
    margin: auto;
    width: 30%;
}


h2 {
    margin-top: 20px;
}


.menuText {
    text-align: center;
    font-family: "Book Antiqua";
}

.pizzas {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    row-gap: 40px;
    margin-bottom: 100px;
}

.pizzaName {
    font-weight: bold;
}


.grid-item {
    margin-top: 20px;
    width: 300px;
    height: fit-content;
    margin-bottom: 20px;
    margin-right: 20px;
}

.img-container {
    width: 300px;
    height: 200px;
    margin-top: 20px;
}

.menuOrderBy {
    margin-top: 20px;
}

.menuSite {
    margin-left: 50px;
    margin-bottom: 50px;
}

.filters {
    display: inline-flex;
    justify-content: normal;
}

.menuFilter {
    margin-right: 70px;
    margin-top: 20px;
}

