.menuHeader {
    color: darkred;
    font-size: xx-large;
    margin: 10px;
    text-align: center;
}

.search {
    display: flex;
    justify-self: center;
    height: 5%;
    width: 40%;
}


h2 {
    margin-top: 20px;
}

.menuText {
    text-align: center;
    font-family: var(--primary-font);
    font-weight: lighter;
    font-size: large;


}

.pizzas {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    column-gap: 40px;
    margin-bottom: 100px;
}

.card-container {
    border: thin solid #828282;
    border-radius: 5px;
    height: 480px;
}

.card-body {
    background-color: #e5c7c2;
    color: #474747;
    height: 255px;
}

.pizzaName {
    font-weight: bold;
}

.grid-item {
    margin-top: 20px;
    width: 300px;
    height: fit-content;
    margin-bottom: 20px;
    margin-right: 20px;
}

.img-container {
    width: 290px;
    height: 200px;
    margin-top: 20px;
}

.menuOrderBy {
    margin-top: 20px;
    color: darkred;
}

.menuSite {
    margin-left: 50px;
    margin-bottom: 50px;
}

.filters {
    display: inline-flex;
    justify-content: normal;
}

.menuFilter {
    margin-right: 70px;
    margin-top: 20px;
    color: darkred;
}

.grid-container {
    margin-left: 8%;
}


.card-text {
    text-align: center;
}

.veganPizza {
    background: #8cb369;
    border-radius: 20px;
    width: 70px;
    height: 35px;
    text-align: center;
    color: white;
    font-family: var(--primary-font);
    padding-top: 5px;
}

.vegPizza {
    background: #526f38;
    border-radius: 20px;
    width: 100px;
    height: 35px;
    text-align: center;
    color: white;
    font-family: var(--primary-font);
    padding-top: 5px;
}

.spicyPizza {
    background: #FF7F11;
    border-radius: 20px;
    width: 70px;
    height: 35px;
    text-align: center;
    color: white;
    font-family: var(--primary-font);
    padding-top: 5px;
}

.pricing {
    font-weight: bold;
    text-decoration: none;
    color: #474747;
}

.topping {
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 1px;
}

