.offerHeader {
    color: darkred;
    font-size: xx-large;
    margin: 10px;
    text-align: center;
}


.offers {
    border-radius: 10px;
    background-color: crimson;
    color: white;
    text-align: center;
    font-family: var(--primary-font);
    margin: auto;
    width: 30%;
}

.offerdisplay {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 30px;
    margin-left: 10%;
}

.img-container {
    width: 300px;
}

.id_hidden {
    display: none;
}

#singleOfferImg {
    width: 250px;
    height: 200px;
    border-radius: 5px;
}

.form-select {
    width: 40%;
}
#price{
    display: none;
}
.OfferName {
    font-weight: bold;
    color: darkred;
    text-align: center;
    border: solid;
    padding: 5px;
}

.descriptionContainer {
    font-family: var(--primary-font);
    margin-top: 15px;
}

.offerInfo {
    margin-left: 20px;
}

#orderBtn {
    background-color: darkred;
    color: white;
    border-color: darkred;
}

.form-label {
    margin-top: 10px;
}


.pizza_price {
    display: none;
}

.card-container {
    border: thin solid #828282;
    border-radius: 5px;
    height: 480px;
}

.card-body {
    background-color: #e5c7c2;
    color: #474747;
    height: 200px;
}

.addToCartBtn {
    border-radius: 5px;
    background-color: crimson;
    border-color: crimson;
    color: white;
    margin-top: 10px;
}

.addToCartBtn:hover {
    opacity: 0.7;
}