.offers {
    border-radius: 10px;
    background-color: crimson;
    color: white;
    text-align: center;
    font-family: "Book Antiqua";
    margin: auto;
    width: 30%;
}

.offerdisplay {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 30px;
    margin-left: 10%;
}

.img-container {
    width: 300px;
}

.id_hidden {
    display: none;
}

#singleOfferImg {
    width: 250px;
    height: 200px;
    border-radius: 5px;
}

.form-select {
    width: 40%;
}

.OfferName {
    background-color: crimson;
    color: white;
    font-weight: bold;
    text-align: center;
}

.descriptionContainer {
    font-family: "Book Antiqua";
}

.offerInfo {
    margin-left: 20px;
}

.addToCartBtn {
    background-color: crimson;
    color: white;
    border-color: darkred;
    margin-top: 20px;
}

.form-label {
    margin-top: 10px;
}


.pizza_price {
    display: none;
}