{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="/static/css/details.css">
    <div class="descriptionHeader">Nánari lýsing</div>
    <div class="descriptionContainer">
        <div class="pizzaInfo">
            <p id="pizza.name" class="pizzaName">{{ pizza.name }}</p>
            <p class="pizzaID" id="pizza.id"> {{ pizza.id }}</p>
            {% if pizza.type == "Grænmetis" %}
                <p class="vegPizza"> {{ pizza.type }}</p>
            {% elif pizza.type == "Sterk" %}
                <p class="spicyPizza"> {{ pizza.type }}</p>
            {% elif pizza.type == "Vegan" %}
                <p class="veganPizza"> {{ pizza.type }}</p>
            {% else %}
                <p></p>
            {% endif %}
            <p class="pizzaDescription" id="pizza.description">{{ pizza.description }}</p>
            <p class="pizzaPrice" id="pizza.price">{{ pizza.price }} kr.</p>
        </div>
        <button class="add-cart addToCartBtn" id="{{ pizza }}" type="submit" value="Submit">Bæta í körfu</button>
    </div>
    <div class="pizzaImgDiv">
        <img src="{{ pizza.image }}" alt="Pizza Image" class="pizzaImg">
        <a href="{{ pizza.id }}"></a>
    </div>
    <script src="/static/js/checkout.js"></script>
{% endblock %}