{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="/static/css/details.css">
    <div class="descriptionHeader">Nánari lýsing</div>
    <div class="descriptionContainer">
        <div class="pizzaInfo">
            <p class="pizzaName">
                {{ pizza.name }}
                <a ></a>
            </p>
            <p class = "pizzaName" id="pizza.id">
                {{ pizza.id }}
            </p>
            <p class="pizzaDescription">
                {{ pizza.description }}
            </p>
            <p class="pizzaPrice">
                {{ pizza.price }} kr
            </p>
        </div>
        <a  class="add-cart addToCartBtn " id="{{pizza}}" href='#'>
            Bæta í körfu
        </a>

    </div>
    
    <div class="pizzaImgDiv">
        <img src="{{pizza.image}}" alt="" class="pizzaImg">
    </div>
    <script  src="/static/js/checkout.js"></script> 
{% endblock %}



<!-- href="{% url 'menu-index' %}" -->
<!-- 
<div class="descriptionHeader">Nánari lýsing</div>
    <div class="descriptionContainer">
        <div class="pizzaInfo"><p class="pizzaName">{{ pizza.name }}</p>
        <p class="pizzaDescription">{{ pizza.description }}</p>
        <p class="pizzaPrice">kr{{ pizza.price }}</p>
        </div>
        <a href="{% url 'menu-index' %}">
    <button class="addtocart" type="submit" value="Submit">Bæta í körfu</button></a>
    </div>
    <div class="pizzaImgDiv">
        <img src="{{ pizza.image }}" alt="Pizza Image" class="pizzaImg">
        <a href="{{ pizza.id }}"></a>
    </div>
    <script  src="/static/js/checkout.js"></script>  -->