{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="/static/css/menu.css">
    <div class="menuSite">
        <div class="menuHeader">
            <h2>Matseðill</h2>
        </div>
        <div class="filters">
            <div class="menuFilter">
                <h5 id="filterLabel">Sía matseðil eftir:</h5>
                <button class="btn btn-success rounded-pill px-3" type="button" id="veganBtn"
                        onclick="menuFilter('Vegan')">
                    Vegan
                </button>
                <button class="btn btn-success rounded-pill px-3" type="button" id="vegetarianBtn"
                        onclick="menuFilter('Grænmetis')"
                        style="background-color: mediumseagreen">Grænmetis
                </button>
                <button class="btn btn-danger rounded-pill px-3" type="button" id="spicyBtn"
                        onclick="menuFilter('Sterk')"
                        style="background-color: red">
                    Sterk
                </button>
            </div>
            <div class="menuOrderBy">
                <h5>Raða matseðli eftir:</h5>
                <button class="btn btn-success rounded-pill px-3" type="button" id="pizzaName"
                        style="background-color: crimson">Nafn
                </button>
                <button class="btn btn-danger rounded-pill px-3" type="button" id="price"
                        style="background-color: crimson">Verð
                </button>
            </div>
        </div>
        <div class="grid-container">
            <div class="pizzas">
                {% for pizza in pizza_list %}
                    <div class="grid-item">
                        <div class="flex-container">
                            <div class="card-container" data-filter-tag="{{ pizza.pizza.type }}">
                                <a href='{% url 'id-index' pizza.pizza.id %}'>

                                    <img class='img-container' src='{{ pizza.pizza.image }}' alt='Menu_image'>
                                </a>
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h4 class="card-text"><b>{{ pizza.pizza.name }}</b></h4>
                                        <p class="pizzaType">{{ pizza.pizza.type }}</p>
                                        {% for topping_name in pizza.toppings %}
                                            <li>{{ topping_name }}</li>
                                        {% endfor %}
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" id="orderBtn"
                                                        class="btn btn-sm btn-outline-secondary">Panta
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
