{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="/static/css/menu.css">
    <div class="menuSite">
        <div class="menuHeader">
            <h2>Matseðill</h2>
        </div>
        <div class="menuText">
            Allar pizzur og hálfmánar á matseðli eru 12'' pizzur. Botnarnir eru súrdeigsbotnar sem er búnir eru til
            á staðnum. Pizzurnar eru svo eldbakaðar í ofni við 500°C hita.
        </div>
        <div class="menuText">
            Eldey notar einungis fersk og safarík álegg.
        </div>
        <form class="search" role="search">

            <input class="form-control me-2" type="search" id="search_box" placeholder="Leita eftir nafni..."
                   aria-label="Leita">
            <button class="btn btn-outline-success" type="submit" id="searchBtn">Leita</button>
        </form>
        <div class="filters">
            <div class="menuFilter">
                <h5 id="filterLabel">Sía matseðil eftir:</h5>
                <button class="btn btn-success rounded-pill px-3" type="button" id="veganBtn"
                        onclick="menuFilter('Vegan')"
                        style="background-color: #8cb369; border-color: #8cb369">
                    Vegan
                </button>
                <button class="btn btn-success rounded-pill px-3" type="button" id="vegetarianBtn"
                        onclick="menuFilter('Grænmetis')"
                        style="background-color: #526f38; border-color: #526f38">Grænmetis
                </button>
                <button class="btn btn-danger rounded-pill px-3" type="button" id="spicyBtn"
                        onclick="menuFilter('Sterk')"
                        style="background-color: #FF7F11; border-color: #FF7F11">
                    Sterk
                </button>
            </div>
            <div class="menuOrderBy" data-orderBy-tag="{{ pizza.pizza.name }}">
                <h5>Raða matseðli eftir:</h5>
                <button class="btn btn-success rounded-pill px-3" type="button" id="pizzaName"
                        onclick="orderMenuByName()"
                        style="background-color: darkred; border-color: darkred">Nafn
                </button>
                <button class="btn btn-danger rounded-pill px-3" type="button" id="price"
                        onclick="orderMenuByPrice()"
                        style="background-color: darkred; border-color: darkred">Verð
                </button>
            </div>
        </div>

        <div class="grid-container">
            <div id="pizzas_id" class="pizzas">
                {% for pizza in pizza_list %}
                    <div class="grid-item">
                        <div class="flex-container">
                            <div class="card-container" data-filter-tag="{{ pizza.pizza.type }}">
                                <a href='{% url 'id-index' pizza.pizza.id %}'>
                                    <img class='img-container' src='{{ pizza.pizza.image }}' alt='Menu_image'></a>
                                <div class="card shadow-sm" style="border-radius: 0px">
                                    <div class="card-body">
                                        <h4 class="card-text"><b>{{ pizza.pizza.name }}</b></h4>
                                        {% if pizza.pizza.type == "Grænmetis" or pizza.pizza.type == "Grænmetis, Calzone" %}
                                            <p class="vegPizza">Grænmetis</p>
                                        {% elif pizza.pizza.type == "Sterk" or pizza.pizza.type == "Sterk, Calzone" %}
                                            <p class="spicyPizza">Sterk</p>
                                        {% elif pizza.pizza.type == "Vegan" %}
                                            <p class="veganPizza"> {{ pizza.pizza.type }}</p>
                                        {% else %}
                                            <p></p>
                                        {% endif %}
                                        <a class="pricing">Verð: {{ pizza.pizza.price }} kr.</a>
                                        <p class="topping">Álegg:</p>{% for topping_name in pizza.toppings %}
                                        {% if forloop.last %}
                                            {{ topping_name }}.
                                        {% else %}
                                            {{ topping_name }},
                                        {% endif %}
                                    {% endfor %}
                                        <div class="d-flex justify-content-between align-items-center">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
