{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="/static/css/user.css">
    <h1 class="userHeader">Innskráning</h1>
    <div class="form-floating font-css">
        <form method="post" class="form form-horizontal">
            {% csrf_token %}
            <div class="form-group">

                <label class="username" for="{{ form.username.id_for_label }}">Notandanafn:</label>
                {{ form.username }}
                {{ form.username.errors }}

            </div>
            <div class="form-group">

                <label class="pw" for="{{ form.password.id_for_label }}">Lykilorð:</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <button class="userBtn" type="submit">Skrá inn</button>
        </form>
    </div>
    <a href="{% url 'new-account' %}">
        <button class="userBtn">Búa til aðgang</button>
    </a>
{% endblock %}