{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="/static/css/user.css">
    <h2 class="userHeader">Halló {{ user.customeraccount.username }}!</h2>
    <img class="profilePic" src="{{ user.customeraccount.profile_image }}" alt="Prófílmynd">
    <p>Notandanafn þitt er {{ user.username }}. <br> Hér getur þú breytt gælunafni þínu á síðunni.</p>
    <form class="form form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="username" for="{{ form.username.id_for_label }}">Gælunafn:</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label class="phoneNr" for="{{ form.phone_number.id_for_label }}">Símanúmer:</label>
            {{ form.phone_number }}
        </div>

        <div class="form-group">
            <label class="profileImg" for="{{ form.profile_image.id_for_label }}">Prófílmynd:</label>
            {{ form.profile_image }}
        </div>
        <button class="userBtn" type="submit">Uppfæra prófíl</button>
    </form>
    <a href="{% url 'logout' %}">
        <button class="userBtn">Skrá út</button>
    </a>
{% endblock %}